#top-bar {
  position: fixed;
  top:0px;
  left:0px;
  right:0px;
  width:100%;
  height: 100px;
  padding-left:20px;
  padding-right: 20px;
  padding-bottom:30px;
  background-color:rgba(0, 0, 0, 0.400);
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.253));
  z-index: 1;
}
#nav {
  position: fixed;
  top:100px;
  left:0px;
  right:0px;
  width:100%;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-style: solid;
  border-top-color: white;
  border-bottom-style: solid;
  border-bottom-color: white;
  text-align: center;
  background-color:rgba(0, 0, 0, 0.300);
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.253));
  z-index: 1;
}
#nav a {
  font-size:20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 20px;
}
#nav a:hover {
  text-decoration: underline;
}
#blm {
  font-size: 45px;
  text-align: center;
  color: white;
}
ul {
  list-style-type: square;
  font-size: 20px;
}
#about {
  margin-top: 180px;
  width:100%;
  padding-top: 20px;
  padding-left:20px;
  padding-right: 20px;
  padding-bottom:30px;
  background-color:rgb(255,255,255);
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.253));
}
#alm {
  margin-top: 30px;
  width:100%;
  padding-top: 20px;
  padding-left:20px;
  padding-right: 20px;
  padding-bottom:30px;
  background-color:rgb(255,255,255);
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.253));
}
#issue {
  margin-top: 30px;
  width:100%;
  padding-top: 20px;
  padding-left:20px;
  padding-right: 20px;
  padding-bottom:30px;
  background-color:rgb(255,255,255);
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.253));
}
#calltoaction {
  margin-top: 30px;
  width:100%;
  padding-top: 20px;
  padding-left:20px;
  padding-right: 20px;
  padding-bottom:30px;
  background-color:rgb(255,255,255);
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.253));
}
body {
  background-image: url(https://www.gannett-cdn.com/presto/2020/06/03/PSAS/9d5d7ab1-7be0-424d-a259-8b0fa91c3ec5-20200602_BLM_SEASIDE_PROTEST__004.JPG?auto=webp&crop=2999,1687,x0,y70&format=pjpg&width=1200);
  background-attachment: fixed;
  font-family: "sans-serif";
}
h2 {
  font-size: 35px;
}
p {
  font-size: 20px;
}
#aboutcaption {
  background-color: rgb(235,235,235);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right:10px;
  border-left-style: solid;
  border-left-color: #ff0000;
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
}