#top-bar {
  position: absolute;
  top:0px;
  left:0px;
  right:0px;
  width:100%;
  height: 100px;
  padding-left:20px;
  padding-right: 20px;
  padding-bottom:30px;
  background-color:rgb(255,255,255);
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.253));
}
#nav {
  position: absolute;
  top:100px;
  left:0px;
  right:0px;
  width:100%;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color:rgb(0, 0, 0);
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.253));
}
#nav a {
  font-size:20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 20px;
}
#nav a:hover {
  text-decoration: underline;
}
#blm {
  font-size: 40px;
  text-align: center;
}
#about {
  position: absolute;
  top:180px;
  left:0px;
  right:0px;
  width:100%;
  padding-left:20px;
  padding-right: 20px;
  padding-bottom:30px;
  background-color:rgb(255,255,255);
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.253));
}
#unnamed {
  position: absolute;
  top: 520px;
  left:0px;
  right:0px;
  width:100%;
  padding-left:20px;
  padding-right: 20px;
  padding-bottom:30px;
  background-color:rgb(255,255,255);
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.253));
}
#unnamed2 {
  position: absolute;
  top:800px;
  left:0px;
  right:0px;
  width:100%;
  padding-left:20px;
  padding-right: 20px;
  padding-bottom:30px;
  background-color:rgb(255,255,255);
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.253));
}
#calltoaction {
  position: absolute;
  top:1080px;
  left:0px;
  right:0px;
  width:100%;
  padding-left:20px;
  padding-right: 20px;
  padding-bottom:30px;
  background-color:rgb(255,255,255);
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.253));
}
body {
  background-image: url(https://www.gannett-cdn.com/presto/2020/06/03/PSAS/9d5d7ab1-7be0-424d-a259-8b0fa91c3ec5-20200602_BLM_SEASIDE_PROTEST__004.JPG?auto=webp&crop=2999,1687,x0,y70&format=pjpg&width=1200);
  background-attachment: fixed;
  font-family: "sans-serif";
}
#aboutcaption {
  background-color: rgb(235,235,235);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right:10px;
  border-left-style: solid;
  border-left-color: #ff0000;
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
}